<div class="home-top">
<h1>Welcome to Bookers!!</h1>
<h3>in Bookers,</h3>
<p>you can share and exchange your opinions , inpressions , and emotions</p>
<p>about various books</p>
<div class="home-sign">
<p><%= link_to "Log in", new_user_session_path %></p>
<p><%= link_to "Sign_up", new_user_registration_path %></p>
</div>
</div>